---
import './portfolio.css';
import Projects from './Projects.jsx';
---
<section class="portfolio section" id="portfolio">
    <h2 class="section__title">Portfolio</h2>
    <span class="section__subtitle">Most recent works</span>

    <Projects client:load/>
</section>