---

---
<div class="skills__content">
    <h3 class="skills__title">Backend</h3>
    <div class="skills__box">
        <div class="skills__group">
            <div class="skills__data">
                <div>
                    <h3 class="skills__name"><i class="bx bxl-nodejs"></i></h3>
                    <span class="skills__subtitle">NodeJS</span>
                </div>
            </div>

            <div class="skills__data">
                <div>
                    <h3 class="skills__name"><i class="bx bxl-python"></i></h3>
                    <span class="skills__subtitle">Python</span>
                </div>
            </div>

            <div class="skills__data">
                <div>
                    <h3 class="skills__name"><i class="bx bxl-aws"></i></h3>
                    <span class="skills__subtitle">AWS</span>
                </div>
            </div>
        </div>

        <div class="skills__group">
            <div class="skills__data">
                <div>
                    <h3 class="skills__name"><i class="bx bxl-mongodb"></i></h3>
                    <span class="skills__subtitle">MongoDB</span>
                </div>
            </div>

            <div class="skills__data">
                <div>
                    <h3 class="skills__name"><i class="bx bxl-postgresql"></i></h3>
                    <span class="skills__subtitle">PostgreSQL</span>
                </div>
            </div>

            <div class="skills__data">
                <div>
                    <h3 class="skills__name"><i class="bx bxl-docker"></i></h3>
                    <span class="skills__subtitle">Docker</span>
                </div>
            </div>
        </div>
    </div>
</div>