---

---
<div class="skills__content">
    <h3 class="skills__title">Frontend</h3>
    <div class="skills__box">
        <div class="skills__group">
            <div class="skills__data">
                <div>
                    <h3 class="skills__name"><i class="bx bxl-html5"></i></h3>
                    <span class="skills__subtitle">HTML5</span>
                </div>
            </div>

            <div class="skills__data">
                <div>
                    <h3 class="skills__name"><i class="bx bxl-css3"></i></h3>
                    <span class="skills__subtitle">CSS3</span>
                </div>
            </div>

            <div class="skills__data">
                <div>
                    <h3 class="skills__name"><i class="bx bxl-javascript"></i></h3>
                    <span class="skills__subtitle">Javascript</span>
                </div>
            </div>
        </div>

        <div class="skills__group">
            <div class="skills__data">
                <div>
                    <h3 class="skills__name"><i class="bx bxl-tailwind-css"></i></h3>
                    <span class="skills__subtitle">Tailwind</span>
                </div>
            </div>

            <div class="skills__data">
                <div>
                    <h3 class="skills__name"><i class="bx bxl-github"></i></h3>
                    <span class="skills__subtitle">Git</span>
                </div>
            </div>

            <div class="skills__data">
                <div>
                    <h3 class="skills__name"><i class="bx bxl-react"></i></h3>
                    <span class="skills__subtitle">React</span>
                </div>
            </div>
        </div>
    </div>
</div>