---
import './skills.css';
import Frontend from './Frontend.astro';
import Backend from './Backend.astro';
---
<section class="skills section" id="skills">
    <h2 class="section__title">Skills</h2>
    <span class="section__subtitle">Technologies I've used</span>

    <div class="skills__container container grid">
        <Frontend />
        <Backend />
    </div>
</section>