---

---
<div class="about__info grid">
    <div class="about__box">
        <i class="bx bxs-leaf"></i>
        <h3 class="about__title">Plant Parent</h3>
        <span class="about__subtitle">I grow plants</span>
    </div>

    <div class="about__box">
        <i class="bx bxs-keyboard"></i>
        <h3 class="about__title">Web Dev</h3>
        <span class="about__subtitle">I code</span>
    </div>

    <div class="about__box">
        <i class="bx bx-building-house"></i>
        <h3 class="about__title">Architect</h3>
        <span class="about__subtitle">I design buildings</span>
    </div>
</div>