.blog__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    text-align: center;
}

.blog__description {
    max-width: 968px;
    margin: 2rem auto;
    text-indent: 1rem;
}

.posts__container {
    grid-template-columns: repeat(3, minmax(0,1fr));
    justify-content: center;
}

.post__card {
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 1rem;
    transition: .1s;
    overflow: hidden;
}

.post__img {
    object-fit: cover;
    width: 100%;
    height: 12rem;
}

.card__content {
    padding: 1.5rem;
    overflow: hidden;
}

.post__pubDate {
    color: var(--text-color);
    font-size: var(--smaller-font-size);
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-0-5)
}

.post__title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}

.post__description {
    color: var(--text-color);
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-0-5);
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

}

.post__tags {
    align-items: flex-start;
    gap: .5rem;
    bottom: 0px;
}

.tag {
    font-size: var(--tiny-font-size);
    color: var(--title-color);
    background-color: var(--body-color);
    padding: 0.125rem 0.25rem;
    border-radius: 9999px;
    transition: .3s ease-in-out;
}

.tag:hover {
    color: var(--title-color);
    background-color: var(--title-color-yellow);
}

.post__info {
    display: flex;
    flex-direction: column;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .posts__container {
        grid-template-columns: repeat(2, minmax(0,1fr));
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .posts__container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 576px) {
    
}

/* For small devices */
@media screen and (max-width: 350px) {
    
}