---
import './home.css';
import Social from './Social.astro';
import Data from './Data.astro';
---
<section class="home section" id="home">
    <div class="home__container container grid">
        <div class="home__content grid">
            <Social />
        
            <div class="home__img">

            </div>

            <Data />
        </div>
    </div>
</section>