---
import './header.css';
---
<a href="/" class="nav__logo">Leo Es</a>
<div class="nav__menu">
    <ul class="nav__list grid">
        <li class="nav__item">
            <a href="/" class="nav__link">
                <i class="bx bx-home-alt nav__icon"></i>Home
            </a>
        </li>
        <li class="nav__item">
            <a href="/#about" class="nav__link">
                <i class="bx bx-user nav__icon"></i>About
            </a>
        </li>
        <li class="nav__item">
            <a href="/#skills" class="nav__link">
                <i class="bx bx-list-ul nav__icon"></i>Skills
            </a>
        </li>
        <li class="nav__item">
            <a href="/#portfolio" class="nav__link">
                <i class="bx bxs-image-alt nav__icon"></i>Portfolio
            </a>
        </li>
        <li class="nav__item">
            <a href="/#contact" class="nav__link">
                <i class="bx bx-envelope nav__icon"></i>Contact
            </a>
        </li>
        <li class="nav__item">
            <a href="/blogger" class="nav__link">
                <i class="bx bx-detail nav__icon"></i>Blog
            </a>
        </li>
    </ul>
    <i class="bx bx-x nav__close"></i>
</div>
<div class="nav__toggle">
    <i class="bx bx-menu"></i>
</div>