---
import "./footer.css";
---
<footer class="footer">
    <div class="footer__container container">
        <h1 class="footer__title">Leo Escaroz</h1>
        <ul class="footer__list">
            <li>
                <a href="/#about" class="footer__link">About</a>
            </li>
            <li>
                <a href="/#skills" class="footer__link">Skills</a>
            </li>
            <li>
                <a href="/#portfolio" class="footer__link">Portfolio</a>
            </li>
            <li>
                <a href="/blog" class="footer__link">Blog</a>
            </li>
        </ul>

        <div class="footer__social">
            <a href="https://www.linkedin.com/in/leonardo-escaroz/" class="footer__social-link" target="_blank">
                <i class="bx bxl-linkedin-square"></i>
            </a>
            <a href="https://github.com/Eleoes" class="footer__social-link" target="_blank">
                <i class="bx bxl-github"></i>
            </a>
        </div>

        <span class="footer__copy">&#169; Leonardo Escaroz. All rights reserved</span>
    </div>
</footer>