---
import '../styles/global.css';
import Header from '../components/Header/Header.astro';
import Footer from '../components/Footer/Footer.astro';
import ScrollUp from '../components/ScrollUp/ScrollUp.astro';
const { pageTitle } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <!-- BOXICONS: Font -->
        <link rel='stylesheet' href='https://unpkg.com/boxicons@latest/css/boxicons.min.css'>
		<title>Leo Escaroz | {pageTitle}</title>
	</head>
	<body>
		<Header />
		<main class="main">
			<slot />
		</main>
		<Footer />
		<ScrollUp />
        <script>
            import "../scripts/menu.js";
			import "../scripts/scrollup.js";
        </script>
	</body>
</html>