---
import BaseLayout from './BaseLayout.astro';
const { title, description, heroImg, tags } = Astro.props;
---
<BaseLayout pageTitle={title}>
    <content>
        <div>
            {
                heroImg &&  (
                    <img
                        class=""
                        src={heroImg}
                        alt=""
                    />
                )
            }
        </div>
        <h1>{title}</h1>
        <div>{description}</div>
        <hr>
        <slot />
    </content>
</BaseLayout>